<h2>Products Page</h2>
<hr>
<h3>Products:</h3>

<div id="products">
<ul>
    {{#each products}}
        <li>{{id}} {{title}}</li>
    {{/each}}
</ul>
</div>


<script src="socket.io/socket.io.js"></script>
<script src="js/realtimeproducts.js"></script>